@media screen and (min-width: 670px) {
    .btn-menu-lateral {
        font-size: 30px;
        cursor: pointer;
        position: fixed;
        right: 15px;
        top: 3%;
        padding: 0 10px;
        background-color: white;
        border-radius: 5px;
        z-index: 28;
    }
}