section#formulario {
    box-sizing: border-box;
}

form {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.46);
}

#formulario h5 {
    color: var(--secondary);
}

#formulario .form-group {
    display: -ms-flexbox; 
    display: flex;
    width: 100%;
}

#formulario .icon {
    padding: 10px;
    background: var(--secondary);
    color: white;
    min-width: 50px;
    text-align: center;
}

#formulario input {
    width: 100%;
    padding: 10px;
    outline: none;
}

#formulario input:focus {
    border: 1px solid var(--primary);
}


#formulario button {
    background: var(--secondary)
}




/* Aqui está a classe de erro dos inputs */

.input-error {
    border-color: red;
}

.input-error::placeholder {
    color: red;
    opacity: 1; /* Firefox */
  }




@media screen and (max-width: 768px){

    #formulario {
        margin: 0 !important;
        padding: 0 !important;
    }

    #formulario .botao {
        margin: 0px auto 15px auto !important;
        padding: 0px !important;
        text-align: center !important;
        text-justify: center;
    }

    .botao p {
        margin: 0 !important;
        text-align: center !important;
    }

    #formulario button {
        margin-top: 8px !important;
        margin-bottom: 8px !important;
    }

}
